.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.listadoPeliculas {
  margin: 0 auto;
  max-width: 60%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.listadoPeliculas .pelicula {
  border: 1px solid #cccccc46;
  margin-bottom: 1rem;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: row;

  text-transform: capitalize;
  text-align: center;
  font-size: 1.4rem;

}

.movieInfo {
  margin: 5px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 40% 10% 30% 20%;

  align-items: center;
  justify-items: center;
}

.movie-info h3 {
  margin: 0;
}

.movieInfo img {
  width: 6rem;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

#deleteMovieButton {
  height: 2rem;
  width: 75%;
  background-color: rgb(179, 1, 1);
  border: none;
  color: white;
  border-radius: 5px;
}

#deleteMovieButton:hover {
  cursor: pointer;
  background-color: rgb(216, 2, 2);
  height: 2.1rem;
  width: 78%;
}

