@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

body {
  color: #fff;
  background-color: #212121;
  padding: 1.5rem;
}

main {
  flex: 1;
}
