#sectionMoviesFiltered .movieCard {
  position: relative;
  font-size: 14px;

  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  width: 285px;
  height: 360px;
  overflow: hidden;
  transition: all 0.5s ease;
}

#sectionMoviesFiltered .movieCard .card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 100px 10px 5px;
  background-image: linear-gradient(
    180deg rgba(51, 55, 69, 0),
    rgba(16, 21, 40, 0.95)
  );
  transition: all 0.5s ease;
}

#sectionMoviesFiltered .movieCard .card-content .card-header {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sectionMoviesFiltered .movieCard .card-content .card-header h3 {
  -webkit-line-clamp: 1;
}

#sectionMoviesFiltered .movieCard .card-content .card-btn {
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

#sectionMoviesFiltered .movieCard .card-content .info {
  max-height: 0;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: all 0.5s ease;
}

#sectionMoviesFiltered .movieCard:hover .card-content {
  background-image: linear-gradient(180deg, rgba(51, 55, 69, 0), #101528 48%);
}

#sectionMoviesFiltered .movieCard:hover .card-btn {
  background-color: #0091ea;
  border-color: #0091ea;
}

#sectionMoviesFiltered .movieCard:hover .info {
  max-height: 200px;
  opacity: 1;
  padding: 8px 0;
}

#sectionMoviesFiltered {
  display: flex;
  max-width: 100%;
  gap: 1.4rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
